body{
    background: #0A0A0A;
    margin: 0px;
}

.header{
    color: #FFFFFF;
    background-color: #202020;
    font-size: calc(1em + 0.2vh);
    font-family: "Helvetica Neue";
    text-align: center;
    padding-top: 0.05vh;
    padding-bottom: 0.05vh;
    height: 10vh;
    margin:0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5050;
    position: fixed;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12.5vw;
    padding-top: 12.5vh;
    padding-bottom: 2vh;
    justify-content: center;
    gap: 1vw;
}

img{
    max-width: 290px;
    width: 15vw;
    min-width: 200px;
}

.desc{
    color: #FFFFFF;
    text-align: center;
}
